@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

// $main-indent: 2%;

body {
  font-family: 'Open Sans';
  margin: 0;
  padding: 20px 0;
}

.blocks {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.block {
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
  border: 0.3px solid #8E8E8E;
  border-radius: 16px;

  &__info {
    padding: 0 10px;
  }

  &__main-img {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__published {
    display: flex;
    gap: 10px;

    img {margin: auto 0;}
    p {color: #9E9E9E;}
  }

  &__service {
    display: grid;
    grid-template-columns: 40px auto;
    margin-bottom: 1.2em;

    img {margin: auto 0;}
    p {margin: auto 0;}
  }

  &__service-time {
    margin-top: 0.5em;
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;

    div {
      background-color: #D9E8FF;
      padding: 3px 13px;
      margin-right: 6px;
      border-radius: 11px;
    }
  }

  &__action {
    display: flex;
    justify-content: space-around;
    gap: 1em;
    align-items: center;
    margin: 20px auto;
  }

  &__price {
    display: flex;
    flex-direction: column;
    
    div {font-size: 35px;}
    p {margin: 0;}
  }

  &__button {
    font-size: 14px;
    padding: 15px 45px;
    background-color: #FED74B;
    border: 0.5px solid #CBA500;
    border-radius: 20px;
  }
}


.calcTrip {
  padding: 50px 20px;
  max-width: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FED74B;

  * {
    font-size: 20px;
    margin-top: 20px;
  }
}

#timeBack {display: none;}

@media (min-width: 1024px) {
  .block {
    display: flex;

    &__title {
      order: -1;
      margin-bottom: 0;
    }

    &__info {
      display: flex;
      flex-direction: column;
      padding: 0 20px;
    }

    &__action {
      margin: 20px 0;
      justify-content: left;
    }

    &__service {
      display: flex;
      gap: 1em;
    }
  }
}